body {
  display: flex;
  justify-content: center;
  font-size: 30px;
}

.main {
  width: 60vw;
  background: lightblue;
  text-align: center;
}

h1 {
  color: lightgray;

}

button {
  display: block;
  margin: 30px auto;
}
